<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/Hi0703</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">123456</property>

    <!-- 可选项配置 -->
    <!-- 配置每次运行表的生成策略
         create : 每次运行都生成新的表, 一般用于测试
         create-drop : 每次运行都生成新的表, 在运行结束时再把生成的表都删除了
         update : 如果有表则更新表, 如果没有表就创建表
         validate : 如果有表. 则验证表结果, 如果与原来的表结构不一致, 则抛出异常-->
    <property name="hibernate.hbm2ddl.auto">update</property>

    <!-- 每次执行sql语句时都在控制台显示sql语句 -->
    <property name="hibernate.show_sql">true</property>
    <!-- 每次控制台显示sql语句时,将sql语句进行格式化显示 -->
    <property name="hibernate.format_sql">true</property>
    <!-- sql语句执行的时候底层转化的方言是什么 -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

    <mapping resource="Information.hibernate.xml"/>
  </session-factory>
</hibernate-configuration>